<!DOCTYPE html>
<html>
<head>

  <title>VK Like Abuser</title>
  <meta charset='utf-8' />
  <!-- build:css -->
  <link rel='stylesheet' href='src/styles/styles.css' />
  <!-- endbuild -->
</head>
<!-- build:js -->
<script src='scripts/vue.js'></script>
<script src='scripts/firebase.js'></script>
<script src='scripts/vuefire.js'></script>
<script src='scripts/d3.v4.min.js'></script>
<script src='scripts/options.js'></script>
<!-- endbuild -->
<body>
  <svg id='graph'></svg>
  <div id="app" class='container'>
    <div style='float: left'>
      <div
      class='wrapper'
      v-bind:class="{'wrapper--wide': !authorized}">
      <div class='foo'>
        <div v-if='authorized'>
          <div class='username'>
            <img v-show='photo_100' v-bind:src='photo_100' class='avatar'>
            <span class='username__holder'>{{username}} </span>
            <span>
              <b><a v-on:click='logout()'>выйти</a></b>
            </span>
          </div>
        </div>
        <div v-else>
            <a href='https://oauth.vk.com/authorize?client_id=5133221&scope=wall,friends,offline&redirect_uri=https://oauth.vk.com/blank.html&display=popup&v=5.17&response_type=token' class='button' target='_blank'
            v-bind:class="{'not-active': !agreedWithTerms}">Войти</a>
        </div>
      </div>
      <div v-if='authorized'>
        <div v-if='!needValidation'>
          <div class='activate'>
            <div
              class='button button__activate button--center'
              v-bind:class="{'button--disabled': }"
              v-on:click="toggle()">
              <span v-if='me.isActive'>Приостановить</span>
              <span v-else>Начать</span>
            </div>
          </div>
          <div class='stats'>
            <div class='stats__item'>
              Статус:
                <b>
                  <span v-if='me.isActive' class='is-working'>Работает</span>
                  <span v-else>Приостановлено</span>
                </b>
            </div>
            <div class='stats__item'>Вы поставили лайков: <b>{{stats.you_liked || 0}}</b></div>
            <div class='stats__item'>Вам поставили лайков: <b>{{stats.liked_you || 0}}</b></div>
          </div>
          <main-navigation></main-navigation>
        </div>
        <div v-else>
          <need-validation></need-validation>
        </div>
        <help></help>
      </div>
      <div v-else>
        <div class='disclaimer'>
          Чтобы начать пользоваться приложением, необходимо авторизоваться. Напоминаем, что накрутка лайков <b>нарушает</b> правила ВКонтакте.
          <div class='disclaimer__agree'>
            <input
              type='checkbox'
              v-model='agreedWithTerms'
            />
            <a href='https://vk.com/terms' target='_blank'>Я нарушаю правила ВКонтакте</a>
          </div>
        </div>
      </div>
      </div>
      <div
        class='wrapper wrapper--next'
        v-bind:class="{'wrapper--wide': !authorized}">
        <global-stats></global-stats>
      </div>
      <div v-if='authorized'>
        <like-exchanger></like-exchanger>
      </div>
    </div>
    <div class='wrapper wrapper__right'>
      <realtime-likes></realtime-likes>
      <follow-us></follow-us>
    </div>
  </div>
  <script src='src/components.js'></script>
  <script src='src/common.js'></script>
  <script src='src/graph.js'></script>
</body>
</html>
