body {
  margin: 0px;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
  background: var(--main-bg-color);
  min-height: 101vh;
  font-size: 12px;
}

a {
  color: var(--blue-text);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none !important;
}

.not-active {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.7 !important;
}

.text-grey {
  color: var(--grey-color);
}

.button {
  padding: 7px 16px 8px;
  margin: 0;
  font-size: 12.5px;
  display: inline-block;
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
  vertical-align: top;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  background: none;
  background-color: #5e81a8;
  color: #fff;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;

  transition: .2s;

  padding-left: 32px;
  padding-right: 32px;
  cursor: pointer;

  user-select: none;
  opacity: 1;
}

.button:hover {
  text-decoration: none !important;
}

.button__donate {
  background: #E55D87; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E55D87 , #5FC3E4);
  background: linear-gradient(to right, #E55D87 , #5FC3E4);

}

.foo {
  display: flex;
  justify-content: flex-end;
  padding: .5rem;
  min-height: 4rem;
}

.username {
  color: var(--blue-text);
  display: flex;
  align-items: center;
}

.username__holder {
  margin: 0px 10px;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0px 5px;
}

.activate {
  width: 100%;
  margin: 1rem 0;
  text-align: center;
}

.button__activate {
  min-width: 170px;
}

.is-working {
  color: #388e3c;
}

.button:hover {
  opacity: .9;
}

.button--center {

}

.container {
  /*display: flex;*/
  margin: 10vh auto;
  width: 600px;
}

.wrapper {
  max-width: 300px;
  background-color: var(--block-bg-color);
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  padding: .7rem;
  margin-bottom: 0rem;
  border-radius: 2px;
}

.wrapper--left {
  min-width: 300px;
  max-width: 300px;
}

.wrapper--right {
  float: left;
  margin-left: 1rem;
  width: 15vw;
  max-width: var(--right-block-max-width);
  min-width: 200px;
  padding: 0px;
  background-color: transparent;
  box-shadow: none;
  margin-top: -1px;
  margin-right: -1px;
}

.wrapper--wide {
  max-width: 350px;
  width: 50vw;
  margin: auto;
}

.wrapper--next {
  margin: 3vh auto;
}

.stats {
  text-align: center;
}

.stats__item {
  padding: 2px;
}

.stats__item b {
  color: var(--blue-text);
}

.disclaimer {
  text-align: center;
  margin: 0px auto;
  margin-bottom: 1rem;
  line-height: 1.2rem;
}

.disclaimer__agree {
  margin-top: 1rem;
}


.help {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.help__right {
  width: 100%;
  text-align: right;
}

.help__right a {
  text-decoration: none;
  color: 
}

.svg__image {
  clip-path: border-box;
  border-radius: 25%;
}

#graph {
  position: absolute;
  margin: -20vh auto;
  z-index: -2;
}


.users__user {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
}

.users__user_avatar {
  width: 50px;
  padding: .5rem 0rem 0rem .75rem;
}

.users__user_avatar-img {
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.developers {
  padding: 1rem 0 0;
}

.developers__developer {
  padding: 5px;
}

.navigation {
  margin: 1rem 0 0;
}

.navigation__buttons {
  display: flex;
  flex-wrap: wrap;
}

.navigation__button {
  text-align: center;
  padding: .5rem 1rem;
  margin: 0px 10px 10px 0;
  cursor: pointer;
  background-color: var(--blue);
  color: #55677d;
  border-radius: 3px;
  user-select: none;
  transition: background-color .2s;
}

.navigation__button-full-width {
  margin: 0px 0px 10px;
}

.navigation__button:hover {
  background-color: var(--blue);
}

.navigation__button--selected {
  background-color: #dfe6ed !important;
}

.navigation__button--not-selected {
  background-color: #f3f3f3;
}

.navigation__block {
  padding: 5px;
}

.realtime-likes__photo {
  border-radius: 100px;
  width: 50px;
  height: 50px;
}

.realtime-likes__photo--payments {
  width: 40px;
  height: 40px;
}

.bounce-transition {
  display: inline-block; /* otherwise scale animation won't work */
}
.bounce-enter {
  animation: bounce-in .5s;
}
.bounce-leave {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% {
    transform: translateX(-40px);
    opacity: .3;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes bounce-out {
  0% {
    transform: translateY(-40px);
    background-color: transparent;
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

.realtime-likes__arrow {
  padding: 10px;
}

.realtime-likes__arrow--payments {
  padding: 5px;
}

.realtime-likes__name {
  padding: 10px;
  background-color: white;
  border: 1px solid #e3e4e8;
  border-radius: 2px;
  border-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.realtime-likes {
  overflow: hidden;
  border-radius: 2px;
}

.realtime-likes__like {
  width: 99%;
  max-width: var(--right-block-max-width);
  background-color: white;
  border: 1px solid #e3e4e8;
  border-bottom: 0px;
  border-top: 0px;
  margin-bottom: -1px;
}

.realtime-likes__like--payments {
  border: 0;
  max-width: 100%;
}

.realtime-likes__container {
  padding: 5px;
  margin: 0px auto;
  padding-left: 20px;
}

.realtime-likes__container--payments {
  padding: 2px 5px 2px 20px;
}

.realtime-likes__like:nth-child(2n) {
  background-color: var(--blue) !important;
}

.realtime-likes__like:last-child {
  border-bottom: 1px solid var(--border-color);
}

.realtime-likes__preloader {
  padding: 4rem;
  background-color: white;
  border: 1px solid #e3e4e8;
  border-top: 0px;
  height: 150px;
}

.global-stats {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 200px) {
  .global-stats {
    flex-direction: column;
  }

  .global-stats__stat {
    border-right: 0px !important;
  }
}

.global-stats__stat {
  min-width: 30%;
  padding: 0 .7rem 0 1rem;
  border-right: 1px solid #e3e4e8;
}

.global-stats__stat:first-child {
  padding-left: 0px;
}

.global-stats__stat:last-child {
  border-right: 0;
}

.stat__desc {
  text-align: center;
}

.stat__value {
  text-align: center;
  padding: 1rem 1rem 0.5rem;
  font-size: 1.3rem;
  color: var(--blue-text);
}

.rate-empty-line {
  height: 10px;
}

.vk-like-preloader {
  font-size: 0;
  display: inline-block;
  -webkit-animation: outer 6600ms linear infinite;
          animation: outer 6600ms linear infinite;
}
.vk-like-preloader svg {
  -webkit-animation: inner 1320ms linear infinite;
          animation: inner 1320ms linear infinite;
}
.vk-like-preloader svg circle {
  fill: none;
  stroke: var(--blue);
  stroke-linecap: square;
  -webkit-animation: arc 1320ms cubic-bezier(0.8, 0, 0.4, 0.8) infinite;
          animation: arc 1320ms cubic-bezier(0.8, 0, 0.4, 0.8) infinite;
}
@-webkit-keyframes outer {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes outer {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes inner {
  0% {
    -webkit-transform: rotate(-100.8deg);
            transform: rotate(-100.8deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes inner {
  0% {
    -webkit-transform: rotate(-100.8deg);
            transform: rotate(-100.8deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@-webkit-keyframes arc {
  0% {
    stroke-dasharray: 1 210.48670779px;
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dasharray: 151.55042961px, 210.48670779px;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 1 210.48670779px;
    stroke-dashoffset: -151.55042961px;
  }
}
@keyframes arc {
  0% {
    stroke-dasharray: 1 210.48670779px;
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dasharray: 151.55042961px, 210.48670779px;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 1 210.48670779px;
    stroke-dashoffset: -151.55042961px;
  }
}


@keyframes like-exchanger-animation {
  0% {
    transform: scale(1)
  }
  40% {
    transform: scale(1.05)
  }
  100% {
    transform: scale(1)
  }
}

.like-exchanger__container {
  padding: .5rem 0 0rem;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}

.like-exchanger {
  margin-top: 1rem;
  min-height: 140px;
}

.like-exchanger__search {
  height: 90px;
  width: 90px;
  background-color:var(--blue);
  border-radius: 50px;
  margin: 10px auto;
  display: flex;
  cursor: pointer;
  animation: like-exchanger-animation 1s 999999;
  box-shadow: 1px 0px 1px rgba(94, 129, 168, .2);
}

.like-exchanger__search_title {
  text-align: center;
  align-self: center;
  width: 100%;
  color: var(--blue-text);
}

.like-exchanger__icon {
  padding: .5rem;
  cursor: pointer;
}

.like-exchanger__preloader {
  margin: 0.7rem auto;
}

.faq h1 {
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: .5rem;
}

.faq > h1:first {
  margin-top: 0rem;
}

.block__right {
  max-width: var(--right-block-max-width);
}

.follow-us {
  display: flex;
  align-items: center;
}
.follow-us__text {
  
}

.follow-us__channels {
  width: 100%;
  /*paddi: 20px;*/
  /*margin: 1rem auto;*/
  /*padding: .5rem;*/
}

.follow-us__channel {
  margin: 0px auto;
  padding: 10px;
  justify-content: center;
}

.news {
  /*display: flex;*/
}

.news__header {
  
  padding-right: 15px;
  font-weight: bold;
}

.news__container {
  display: flex;
  margin-top: 0.5rem;
}

.news__title { 
  flex-grow: 3;
  color: var(--blue-text);
  overflow: hidden;
}

.news__timestamp {
  flex-direction: flex-end;
}

.shop {

}

.shop__input {
  width: 100%;
  height: 30px;
  padding: 5px 9px 7px;
  border-radius: 1px;
  box-sizing: border-box;
  border: 1px solid #d3d9de;
  outline: none;

  margin-top: .5rem;
}

.shop__input--valid {
  border-color: var(--green-color);
}

.shop__input--invalid {
  border-color: var(--red-color);
}

.shop__emoji {
  font-size: 3rem;
  text-align: center;
  padding-top: .5rem;
}

.shop__items {
  display: flex;
}

.shop__item {
  height: 115px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  margin: .5rem 0;
  margin-right: 10px;
  cursor: pointer;
  font-size: 10px;
  transition: all .3s ease-out;
}

.shop__item:hover {
  box-shadow: 0px 1px 3px 0px #cacaca;
}

.shop__item--disabled {
  opacity: .5;
}

.shop__item--selected {
  border: 1px solid var(--blue);
  background-color: var(--blue);
  box-shadow: 0px 1px 3px 0px #cacaca;
  opacity: 1;
}

.shop__item:last-child {
  margin-right: 0px; 
}

.shop__description {
  text-align: center;
}

.shop__description, .shop__price {
  text-align: center;
}

.telegram-logo {
  opacity: 0.7;
  transition: all .1s ease-in;
}

.telegram-logo:hover {
  opacity: 1;
}

.progress-bar {
  background-color: var(--blue);
  height: 20px;
}

.progress-counter {
  text-align: right;
}