:root {
  --main-bg-color: #edeef0;
  --blue: #e5ebf1;
  --blue-text: #2a5885;
  --block-bg-color: #fff;

  --right-block-max-width: 200px;

  --grey-color: rgba(0, 0, 0, .4);
  --green-color: #81C784;

  --border-color: #e3e4e8;
  --border-radius: 3px;
}
